{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:astro/recommended"],
  "plugins": ["eslint-plugin-astro", "prettier", "import", "react"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-sort-props": [
      "error",
      {
        "ignoreCase": true,
        "shorthandFirst": true,
        "reservedFirst": true,
      },
    ],
    "react/no-unescaped-entities": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": ["builtin", "internal", "external", "type", "object", "index", "parent", "sibling"],
      },
    ],
  },
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"],
      },
    },
  ],
}
